body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("image/default-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 1s;
}

h2 {
    margin: 5px;
}

form {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 20px;
    margin-top: 50px;
}

input {
    width: 400px;
    height: 30px;
    background-color: rgb(240, 255, 255, 0.6);
    border: none;
    font-size: 22px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 12px;
    padding: 8px;
}

.weather-info {
    background-color: rgb(240, 255, 255, 0.6);
    border-radius: 20px;
    width: 500px;
    transition: font 5s;
}
.weather-general, .weather-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.general-container {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
}

.detail-container {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.info {
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-left: 10px;
}

.general-container#city {
    font-size: 40px;
}

.general-container#description {
    font-style: italic;
}